extend ../../views/layout

block content
    ol.breadcrumb
        li backend
    a.btn.btn-success.pull-right(href="#{mountpath}/new") new product
    h1 Backend
    table.table
        tbody
            -each row in products.rows
                -var product = row.doc
                tr
                    td
                        a(href="#{mountpath}/#{product._id}") #{product.name}
                    td
                        a.btn.btn-danger(href="#{mountpath}/delete/#{product._id}") delete
